:root {
	--blue: #2c7dfa;
	--blue-shade: #3685ff;
	--navy: #1f314f;
	--grey: #7d889e;
	--light-grey: #d5e1ef;
	--white: #ffffff;
	font-family: 'Outfit', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--light-grey);
}
