:root {
	--blue: #2c7dfa;
	--blue-shade: #3685ff;
	--navy: #1f314f;
	--grey: #7d889e;
	--light-grey: #d5e1ef;
	--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	font-style: normal;
}

body {
	background-color: var(--light-grey);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container--flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-evenly; */
	background-color: var(--white);
	width: 320px;
	height: 497px;
	border-radius: 20px;
}

.container--qrcode {
	padding-top: 20px;
}

.container--text {
	width: 288px;
	height: 129px;
}

img {
	width: 280px;
	height: 280px;
	border-radius: 20px;
}

h1 {
	font-size: 22px;
	font-weight: 700;
	padding-bottom: 16px;
}

p {
	font-size: 15px;
	font-weight: 400;
}
